@import "icon";
@mixin bgrColor {
  background: rgb(101, 48, 162);
  background: linear-gradient(
    90deg,
    rgba(101, 48, 162, 1) 17%,
    rgba(116, 81, 113, 1) 34%,
    rgba(128, 59, 116, 1) 58%,
    rgba(235, 33, 88, 1) 87%
  );
}
body {
  margin: 0;
  padding: 0;
  background-color: #9c95f5;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  //align-items: center;
  justify-content: center;
  @include bgrColor();
}

.container {
  width: 100%;
  height: 100%;
}
.music-playlist {
  max-width: 400px;
  width: 400px;
  margin: 0 auto;
  height: 600px;
  .dashboard {
    position: fixed;
    width: 400px;
    z-index: 1000;
    @include bgrColor();
    box-shadow: 0px 0px 14px 3px #000000;
    .header {
      display: flex;
      justify-content: space-between;
      .header__introduce {
        text-align: center;
        h4 {
          margin: 10px 0;
          color: rgb(252, 5, 5);
          font-size: 18px;
        }
        h3 {
          margin: 0;
          font-size: 23px;
        }
      }
      .header__icon {
        display: flex;
        align-items: center;
        margin: 0 10px;
      }
    }
    .cd {
      display: flex;
      margin: 20px auto;
      width: 200px;
      &__thumb {
        width: 100%;
        padding-top: 100%;
        border-radius: 50%;
        background-color: #333;
        background-size: cover;
        margin: auto;
      }
    }
    .control {
      display: flex;
      justify-content: space-around;
      align-items: center;
      i {
        font-size: 30px;
      }
      i.active {
        color: rgb(5, 155, 47);
      }
      .btn-toggle-play {
        border: 1px solid #000000;
        padding: 10px 15px;
        border-radius: 50%;
        background-color: #f5f5f5;
        &.playing {
          .icon-play {
            display: none;
            width: 18.75px;
          }
          .icon-pause {
            display: block;
          }
        }
        i.icon-pause {
          display: none;
        }
        i.icon-play {
          width: 18.75px !important;
        }
      }
    }
    .progress-time {
      display: flex;
      width: 90%;
      margin: 10px auto;
      justify-content: space-between;
    }
    .progress-bar {
      input {
        display: flex;
        width: 90%;
        margin: 10px auto;
        //appearance: none;
        &::-webkit-progress-bar {
          -webkit-appearance: none;
          background-color: #9c95f5;
        }
        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 25px;
          height: 25px;
          background: #04aa6d;
          cursor: pointer;
        }
      }
    }
    .volume {
      display: flex;
      margin: 10px auto;
      justify-content: center;
      .volume-icon {
        margin-right: 10px;
        .icon-ableVolume {
          display: none;
        }
      }
      .active {
        .icon-noneVolume {
          display: none;
        }
        .icon-ableVolume {
          display: block;
        }
      }

      input {
        width: 40%;
        &::-webkit-range-progress {
          @include bgrColor();
          height: 20px;
        }
        &::-webkit-range-thumb {
          @include bgrColor();
          color: red;
        }
      }
    }
  }
  .playlist {
    width: 400px;
    margin-top: 470px;
    .song {
      display: flex;
      justify-content: flex-start;
      background: transparent;
      box-shadow: 0px 0px 14px 3px #000000;
      width: 95%;
      margin: 10px auto;
      border-radius: 3px;
      padding: 5px;
      box-shadow: 0px 0px 15px -2px #000000;
      &__img {
        width: 50px;
        margin: 0 10px 0 5px;
        display: flex;
        align-items: center;
        img {
          width: 100%;
          border-radius: 50%;
        }
      }
      &__information {
        width: 80%;
        h1 {
          margin: 0;
          font-size: 20px;
          font-weight: 600;
        }
        p {
          margin: 0;
          font-weight: 400;
        }
      }
      &__btn {
        display: flex;
        margin-right: 10px;
        align-items: center;
        i {
        }
      }
      &.active {
        background: rgb(238, 174, 202);
        background: radial-gradient(
          circle,
          rgba(238, 174, 202, 1) 0%,
          rgba(148, 187, 233, 1) 100%
        );
        & .song__btn {
          color: #f5f5f5;
        }
      }
    }
  }
}
